body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;

header{
    border-bottom: solid 2px #030873;
    padding: 20px;
    font-size: 30px;
    color: #030873;
}

.chamada {
    background: #0f0f0f;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
} 

.chamada-texto {
    margin-right: 20;
}

h1 {
    font-size: 40px;
}

p{ 
    font-size: 20;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }

.categoria {
    padding-left: 20px;
    padding-right:20px;
    margin-top: 50px;
 }

 .categoria-videos img {
     opacity: 0.5;
     height: 200px
 }

 .categoria-videos img:hover {
      opacity: 1.0;
      border: 1px solid green;
 }
 .categoria h2 {
    color: #030873;
 }